body {
  padding-top: 50px;
}

#mapid {
  height: 800px;
}

.absolute {
  position: absolute;
}

.panel .panelHighSize {
  max-height: 700px ;
  overflow-y: auto;
}

.panel .panelLowSize {
  height: 0px;
  overflow-y: auto;
}

.panel {
  z-index: 1000;
  background: #eee;
  opacity: 0.85;
  border-radius: 10px;
  border:1px #aaa;
  margin: 20px;
  float: left;
}

.paneltitle {
  text-align: center;
  opacity: 1;
  margin: 10px;
}
.paneltitle h4 a i {
  padding: 10px;
}

.partnerNameMap {
  font-size: 1.1em;
}

.partnerAdresseMap {
  font-size: 0.8em;
}

.partnerPresention {
  padding: 15px;
}

.panelfilter {
  position:absolute;
  float: right;
  z-index: 1000px;
  top: 25px;
  right: 50px;
}

.panelfilter div select {
  margin-top:-5px;
}

.panelfilterlabel {
  font-size: 1.2em;
}

leaflet-control-zoom leaflet-bar .leaflet-control {
  margin: 15px;
}

/* LOGIN PAGE */
#loginpage {
  margin-top: 150px;
}

#loginpage h2 {
  margin-bottom:50px;
} 

#loginpage div div, 
#loginpage div button {
  margin-top: 10px;
}

#loginpage #socialconnexion .sociallabel {
  padding: 20px;
}

#loginpage div .loginregister {
  margin-top: 20px;
}

#registerpage div .loginregister {
  margin-top: 20px;
}